<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcwrome2014.quickstudy" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ExamsActivity"
            android:label="@string/your_exams"
            android:theme="@style/AppTheme" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddNewExamActivity"
            android:label="@string/add_new_exam"
            android:parentActivityName=".ExamsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gcw_rome_2014.quickstudy.ExamsActivity" />
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

        <activity
            android:name=".ViewExamActivity"
            android:label="@string/view_exam"
            android:parentActivityName=".ExamsActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gcw_rome_2014.quickstudy.ExamsActivity" />
        </activity>

        <activity
            android:name=".FeedActivity"
            android:label="@string/title_activity_feed"
            android:parentActivityName=".ExamsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gcw_rome_2014.quickstudy.ExamsActivity" />
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ExamsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gcw_rome_2014.quickstudy.ExamsActivity" />
        </activity>

        <activity
            android:name=".EditExamActivity"
            android:label="@string/title_activity_edit_exam"
            android:parentActivityName=".ExamsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gcw_rome_2014.quickstudy.ExamsActivity" />
        </activity>

        <activity
            android:name=".settings.SetCustomDiffActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
            <intent-filter>
                <action android:name="SetCustomDiff" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetWeekActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
            <intent-filter>
                <action android:name="SetDays" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetMondayActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SetWeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SetWeekActivity" />
            <intent-filter>
                <action android:name="SetMonday" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetTuesdayActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SetWeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SetWeekActivity" />
            <intent-filter>
                <action android:name="SetTuesday" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetWednesdayActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SetWeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SetWeekActivity" />
            <intent-filter>
                <action android:name="SetWednesday" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetThursdayActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SetWeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SetWeekActivity" />
            <intent-filter>
                <action android:name="SetThursday" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetFridayActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SetWeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SetWeekActivity" />
            <intent-filter>
                <action android:name="SetFriday" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetSaturdayActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SetWeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SetWeekActivity" />
            <intent-filter>
                <action android:name="SetSaturday" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SetSundayActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".settings.SetWeekActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SetWeekActivity" />
            <intent-filter>
                <action android:name="SetSunday" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.gcwrome2014.quickstudy.notification.ScheduleService"
            android:enabled="true"/>
        <service
            android:name="com.gcwrome2014.quickstudy.notification.NotifyService"
            android:enabled="true"/>

    </application>

</manifest>
